.game__img {
  max-width: 55vw;
  height: auto;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.container__game {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 60vw;
  padding: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: hsl(209, 61%, 16%);
  color: hsl(210, 36%, 96%);
  font-size: 1.1rem;
  box-shadow: 10px 5px 5px black;

}

